<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minaya</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

     <header class="header" id="home">
            <div class="container">
                <div class="logo">
                    <img src="/logos/MCLOGO.png" alt="No Cargo" />
                </div>
                <nav class="poetsen-one-regular">
                    <i class="fa-solid fa-bars menu" id="menu"></i>
                    <ul class="navigation">
                        <i class="fa-solid fa-xmark" id="menu-close"></i>
                        <li>
                            <a href="#">INICIO</a>
                        </li>
                        <li>
                            <a href="#about">SOBRE NOSOTROS</a>
                        </li>

                        <li>
                            <a href="#portfolio">PORTAFOLIO</a>
                        </li>

                        <li>
                            <a href="#services">SERVICIOS</a>
                        </li>

                        <li>
                            <a href="#team">EQUIPO</a>
                        </li>

                        <li>
                            <a href="#contact">CONTACTANOS</a>
                        </li>
                    </ul>
                </nav>
            </div>
    </header>
    <main>

        <div class="container">
            <div class="home">
                <div class="box">
                    <div class="divider" style="width: 50px;"></div>
                    <br>
                    <div class="divider" style="width:140px;"></div>
                    <br>
                    <h1 class="size-3" style="margin: 0;">
                        Minaya Constructora
                    </h1>
                    <h2 class="grey-color size-2">
                        ¡Construye tu futuro hoy!
                    </h2>
                </div>
                <div class="box">
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img src="/imgs/img.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/imgs/img2.jpg" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/imgs/img3.jpg" alt="">
                            </div>

                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>


                    </div>
                </div>
            </div>

        </div>
     
        <div class="about" id="about">
            <div class="box">
                <img src="/imgs/img4.webp" alt="">
            </div>
            <div class="box content">
                <i class="fa-solid fa-circle-info white-color size-3"></i>
                <br>
                <h2 class="white-color">
                    SOBRE NOSOTROS
                </h2>

                <P class="white-color p-2">En Minaya Constructora creemos que cada proyecto es una oportunidad para
                    transformar espacios y construir futuro. Somos una empresa dedicada al diseño, planificación y
                    ejecución de obras civiles y arquitectónicas, comprometida con la calidad, la innovación y la
                    sostenibilidad.</P>
            </div>
        </div>

        <div class="portfolio" id="portfolio">
            </br>
            </br>
            </br>
            <h2 class="text-center">
                PORTAFOLIO
            </h2>
            <div class="divider" style="width: 100px;height: 5px; margin:  0 auto;"></div>
            </br>
            </br>
            </br>
            </br>
            <div class="container portfolio-slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/imgs/img.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/imgs/img2.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/imgs/img3.jpg" alt="">
                    </div>

                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>


            </div>
            <br>
            <br>
        </div>

        <div class="services" id="services">
            <br>
            <br>
            <h2 class="text-center">
                SERVICIOS
            </h2>
            <div class="divider" style="width: 100px;height: 5px; margin:  0 auto;"></div>
            <br>
            <br>

            <div class="container box">
                <ul>
                    <li>
                        <div class="circle poetsen-one-regula">
                            <strong class="size-1">1</strong>
                        </div>
                        <div class="col">
                            <h4 class="p-2">
                                Construcción de obra nueva
                            </h4>
                            <p class="p-2">
                                Viviendas, edificios residenciales, oficinas, locales comerciales e infraestructuras
                                públicas.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="circle poetsen-one-regula">
                            <strong class="size-1">2</strong>
                        </div>
                        <div class="col">
                            <h4 class="p-2">
                                Reformas y remodelaciones
                            </h4>
                            <p class="p-2">
                                Actualización de espacios interiores y exteriores, ampliaciones y modernización de
                                instalaciones.
                            </p>
                        </div>
                    </li>


                    <li>
                        <div class="circle poetsen-one-regula">
                            <strong class="size-1">3</strong>
                        </div>
                        <div class="col">
                            <h4 class="p-2">
                                Rehabilitación de estructuras
                            </h4>
                            <p class="p-2">
                                Restauración de edificios históricos, reparación de daños estructurales y adecuación a
                                normas actuales.
                            </p>
                        </div>
                    </li>
                </ul>



                <ul>
                    <li>
                        <div class="circle poetsen-one-regula">
                            <strong class="size-1">4</strong>
                        </div>
                        <div class="col">
                            <h4 class="p-2">
                                Diseño y planificación arquitectónica
                            </h4>
                            <p class="p-2">
                                Elaboración de planos, renders y proyectos técnicos adaptados a las necesidades del
                                cliente.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="circle poetsen-one-regula">
                            <strong class="size-1">5</strong>
                        </div>
                        <div class="col">
                            <h4 class="p-2">
                                Gestión integral de proyectos
                            </h4>
                            <p class="p-2">
                                Dirección técnica, coordinación de equipos, control de calidad y cumplimiento de plazos.
                            </p>
                        </div>
                    </li>


                    <li>
                        <div class="circle poetsen-one-regula">
                            <strong class="size-1">6</strong>
                        </div>
                        <div class="col">
                            <h4 class="p-2">
                                Urbanización y obras civiles
                            </h4>
                            <p class="p-2">
                                Construcción de carreteras, aceras, puentes, estacionamientos, sistemas de drenaje y
                                obras viales.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="team" id="team">
            <br>
            <br>
            <h2 class="text-center">
                EQUIPO
            </h2>
            <div class="divider" style="width: 100px;height: 5px; margin:  0 auto;"></div>
            </br>
            </br>
            </br>
            </br>

            <div class="container box">
                <div class="avatar-widget">
                    <div class="avatar"
                        style="background-image: url(/imgs/avatar1.jpg);background-position: center;background-size: cover;">

                    </div>
                    <h4>
                        Ana Blanco
                    </h4>
                    <p>Arquitecta</p>
                </div>


                <div class="avatar-widget">
                    <div class="avatar"
                        style="background-image: url(/imgs/avatar2.jpg);background-size: cover;background-position: center;">

                    </div>
                    <h4>
                        Isabel Perez
                    </h4>
                    <p>Gerente</p>
                </div>

                <div class="avatar-widget">
                    <div class="avatar"
                        style="background-image: url(/imgs/avatar3.jpg);background-position: center;background-size: cover;">

                    </div>
                    <h4>
                        Antonio Hernandez
                    </h4>
                    <p>Ingeniero</p>
                </div>
            </div>


        </div>

        <br>
        <br>

        <div class="contact" id="contact">
            <br>
            <br>
            <h2 class="text-center">
                CONTACTANOS
            </h2>
            <div class="divider" style="width: 100px;height: 5px; margin:  0 auto;"></div>
            </br>
            </br>


            <div class="container">
                <div class="box">
                    <form action="">
                        <input type="text" name="" placeholder="Nombre..." id="">
                        <br>
                        <input type="text" name="" placeholder="Correo..." id="">
                        <br>
                        <input type="text" name="" placeholder="Asunto..." id="">
                        <br>
                        <textarea name="" id="" class="actor-regular" placeholder="Descripcion..." rows="6"></textarea>
                        <br>
                        <button type="submit" class="btn adlam-display-regular p-1">
                            ENVIAR
                        </button>
                    </form>
                </div>
            </div>
        </div>
        </br>
        </br>

      
    </main>

      <footer class="footer">
            <div class="row">
                <div class="box">
                    <p>
                        Ubicacion:
                        Calle 1ra #14, Suite 3A, Las Palmas de Herrera, Santo Domingo Oeste
                    </p>

                    <p> Tel: 809 000 0000</p>

                    <p>
                        Cel: 829 000 0000
                    </p>

                    <a href="">Correo: contacto@minayaconstruction.com</a>
                </div>
                <div class="box">
                    <img src="/logos/MCLOGO.png" alt="">
                </div>
            </div>
            <p class="alls-righs">
                Todos los derechos reservados @minayaconstruction.com
            </p>
        </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            let menu = document.querySelector('#menu');
            let menuClose = document.querySelector('#menu-close');
            let navigation = document.querySelector('.navigation');
            let links = document.querySelectorAll('.navigation > li')
            console.log(links)

            for(let link of links){
                link.addEventListener('click',() =>{
                     navigation.classList.toggle('show');
                })
            }

            menu.addEventListener('click', () => {
                navigation.classList.toggle('show');

            })

            menuClose.addEventListener('click', () => {
                navigation.classList.toggle('show');

            })

        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            dynamicBullets: true,
            spaceBetween: 20,
            loop: true,
            autoplay: {
                delay: 5000,
            },

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });

        const swiper2 = new Swiper('.portfolio-slider', {
            // Default parameters
            slidesPerView: 1,
            spaceBetween: 10,
            // Responsive breakpoints
            breakpoints: {
                // when window width is >= 320px
                320: {
                    slidesPerView: 1,
                    spaceBetween: 20
                },
                // when window width is >= 480px
                480: {
                    slidesPerView: 1,
                    spaceBetween: 30
                },
                // when window width is >= 640px
                640: {
                    slidesPerView: 2,
                    spaceBetween: 40
                },

                1000: {
                    slidesPerView: 3,
                    spaceBetween: 40
                }
            }
        })



    </script>
    <script src="https://kit.fontawesome.com/858b0cf629.js" crossorigin="anonymous"></script>
</body>

</html>